<body>
<form action = "/result" method="post">
Name: <input type ="text" name="Name"><br>
Location: <select name = "Location">
    <option value = "Seattle">Seattle</option>
    <option value = "LA">LA</option>
    <option value = "NY">NY</option>
</select><br>
Favorite Language: <select name = "Language">
    <option value = "c#">C#</option>
    <option value = "js">JS</option>
    <option value = "python">Pyhton</option>
</select><br>
Comment: <br>
<textarea name = "Comment"></textarea>
<button>Submit</button>
</form>
</body>